<form #f="ngForm" (ngSubmit)="submit(f)">
<div class="form-group">
  <div class="labels">
    <label for="firstName"> First Name </label></div>
      <input required ngModel name="firstName" #firstName="ngModel" id="firstName" type="text" class="form-control areaText">
      <div class="alert alert-danger alertText" *ngIf="firstName.touched && !firstName.valid"> First Name is required</div>
    </div>

    <div class="form-group">
    <div class="labels">
      <label for="comment"> Comments </label></div>
        <textarea ngModel name="comment" #comment="ngModel" id="comment" cols="30" rows="10" type="text" class="form-control areaText">
      </textarea>
    </div>
    <div class="checkbox">
      <label for="">
        <input type="checkbox" ngModel name="isSubscribed"> Subscribe to a mailing list
      </label>
    </div>
    <p> {{f.value | json}}</p>
    <button class="btn btn-primary subutton" [disabled]="!f.valid"> Submit </button>
    
</form>