.form-group{
  padding: 10px;
}
.labels{
  padding-bottom: 5px;
}
.subutton{
  text-align: center;
  margin-left: 10px;
  cursor: pointer;
  background-color:green;
}
.areaText{
  width: 100%;
 
}
.alertText{
  font-size: small;
  color: red;;
}
.checkbox{
  font-size: small;
  margin-left: 5px;
}

.contactL{
  font-size: 14px;
}