<form #f="ngForm" (ngSubmit)="submit(f)">
<div class="form-group">
  <div class="labels">
    <label for="firstName"> First Name </label></div>
      <input required ngModel name="firstName" #firstName="ngModel" id="firstName" type="text" class="form-control areaText">
      <div class="alert alert-danger alertText" *ngIf="firstName.touched && !firstName.valid"> First Name is required</div>
    </div>

    <div class="form-group">
    <div class="labels">
      <label for="comment"> Comments </label></div>
        <textarea ngModel name="comment" #comment="ngModel" id="comment" cols="30" rows="10" type="text" class="form-control areaText">
      </textarea>
    </div>
    <div class="checkbox">
      <label for="checkbox">
        <input type="checkbox" ngModel name="isSubscribed"> Subscribe to a mailing list
      </label>
    </div>
    <div class="form-group">
      <div class="labels contactL">
      <label for="contactMethod ">
        Contact Methodd
    </label>
  </div>
    <select ngModel='contactMethod' name="contactMethod" id="contactMethod" class="form-control">
      <option value=""></option>
      <option *ngFor="let method of contactMethods" [value]="method.id">
      {{method.name}}
      </option>
    </select>
  </div>
  <!-- radio buttons manual -->
  <div class="radio">
    <label>
        <input ngModel type="radio" name="contactMethod" value="1">
        Rosso
      </label>
  </div>
  <div class="radio">
    <label>
      <input ngModel type="radio" name="contactMethod" value="2">
      Verde
    </label>
  </div>
  <div class="radio">
    <label>
    <input ngModel type="radio" name="contactMethod" value="3">
    Giallo
  </label>
  </div>
<hr>
<!-- radio buttons dynamic -->
<div class="radio-dynamic">
  <div *ngFor="let method of contactMethods" class="radio-dynamic">
<label>
  <input ngModel type="radio" name="contactMethod" value="method.id">
  {{method.name}}
</label>
</div>
</div>


    <p> {{f.value | json}}</p>
    <button class="btn btn-primary subutton" [disabled]="!f.valid"> Submit </button>
    
</form>